{% extends 'base.html.twig' %}

{% block title %}Training{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('trainer') }}
{% endblock %}

{% block body %}

    <div id="app">
        <Trainer
            model-id="{{ modelId }}"
            load-model-url="{{ path('app_configurator_loadmodel') }}"
            configurator-url="{{ path('app_configurator', {id: modelId}) }}"
            upload-url="{{ path('app_trainer_upload') }}"
            mark-target-url="{{ path('app_trainer_data_marktarget') }}"
            remove-target-url="{{ path('app_trainer_data_removetarget') }}"
            ignore-field-url="{{ path('app_trainer_data_ignore') }}"
            unignore-field-url="{{ path('app_trainer_data_unignore') }}"
            save-hyperparameter-url="{{ path('app_trainer_hyperparameter_save') }}"
            submit-task-url="{{ path('app_trainer_training_submit') }}"
        ></Trainer>
    </div>

{% endblock %}
